.gh {
    border-radius: 20px;
    z-index: -1;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
}

.blue-table thead th {
    background-color: #6885ce;
    color: white;
}
