.hea_1 {
    margin: 50px;
}

.tab {
    width: 100%;
}

.se {
    padding-right: 30px;
}

.gg {
    border-radius: 20px;
}

.act_b {
    all: unset;
    border-radius: 25px;
    background-color: #94cf80;
    color: #fff;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.act2_b {
    all: unset;
    border-radius: 25px;
    background-color: #6d736b;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}