.mai
{
    margin: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.navy
{
    margin-left: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.taa
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.y
{
    margin-right: 50px;
}

.butto
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.sa
{
    margin-left: 10px;
    width: 5em;
    border-radius: 50px;
}

.ed
{
    margin-right: 10px;
    width: 5em;
    border-radius: 50px;
}